# garbage from CMake
/out/
/build/
/.vs/

# vcpkg local libraries
/vcpkg_installed/
vcpkg-configuration.json

# Temp files
*.user
*.sln
*.vcxproj*

# Generated documentation
docs/doxygen/

#local dev crutch-tools
devjournal.md
concat_codebase_to_txt.bat
combined_codebase.txt